[Desktop Entry]
Encoding=UTF-8
Name=RemasterCC
Name[ca]=RemasterCC
Name[de]=RemasterCC
Name[el]=RemasterCC
Name[es]=RemasterCC
Name[fr]=RemasterCC
Name[it]=RemasterCC
Name[ja]=RemasterCC
Name[sv]=RemasterCC
Comment=Live persistence and remastering tools.
Comment[ca]=Persistència en USB autònom i eines per a gravar imatges ISO
Comment[de]=Werkzeuge für Live (persistence) und Remaster
Comment[el]=ζωντανή persistence και εργαλεία για ρεμίξ.
Comment[es]=Persistencia viva y herramientas para grabar imágenes
Comment[fr]=Des outils pour USB-Live (persistence) et ISO personnalisée
Comment[it]=Strumenti per creare USB-Live (con persistenza) e ISO personalizzate
Comment[ja]=ライブ環境状態の保存(persistence)とリマスターツール
Comment[sv]=Live persistence och remastering verktyg.
Exec=gksu remastercc.sh
Icon=preferences-desktop.png
Terminal=false
Type=Application
Categories=System;
NoDisplay=False
